@model WorshopBase.ViewModels.PostsViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Управление должностями и сотрудниками";
}

<h2>Управление должностями и сотрудниками</h2>

<table class="table table-hover table-bordered text-center" id="tblemps">
    <thead>
        <tr>
            <th style="text-align: center;">
                Название должности
            </th>
            <th style="text-align: center;">
                Описание
            </th>
            <th style="text-align: center;">
                <a class="btn btn-primary" asp-action="Create">Добавить должность</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelitem => item.Id)
                    <span id="employeename">@item.postName</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descriptionPost)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <a class="btn btn-sm btn-warning" asp-action="Workers" asp-route-id="@item.Id">Сотрудники</a>
                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.Id"></a>
                        <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
@if (Model.PageViewModel.TotalPages > 1)
{
    <br />
    <b>Страница @Model.PageViewModel.PageNumber из @Model.PageViewModel.TotalPages</b>
}

