@model WorshopBase.Models.Post

@{
    ViewData["Title"] = "Управление сотрудниками с должностью " + Model.postName;
}

<h2>Управление сотрудниками с должностью @Model.postName</h2>

<table class="table table-hover table-bordered text-center" id="tblemps">
    <thead>
        <tr>
            <th style="text-align: center;">
                Фамилия
            </th>
            <th style="text-align: center;">
                Должность
            </th>
            <th style="text-align: center;">
                Дата устройства
            </th>
            <th style="text-align: center;">
                Дата увольнения
            </th>
            <th style="text-align: center;">
                Оклад
            </th>
            <th style="text-align: center;">
                <a class="btn btn-primary" asp-route-postID="@Model.postID" asp-action="CreateWorker">Добавить сотрудника</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workers)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelitem => item.workerID)
                    <span id="employeename">@item.fioWorker</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.postName)
                </td>
                <td>
                    @item.dateOfEmployment.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @item.dateOfDismissal?.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    <form asp-action="DeleteWorker" asp-route-id="@item.workerID" method="post">
                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="EditWorker" asp-route-id="@item.workerID"></a>
                        <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" style="float: right;">Назад</a>