@model WorshopBase.ViewModels.UsersViewModels.UsersListViewModel

@{
    ViewData["Title"] = "Управление пользователями и администраторами " ;
}

<h2>Управление пользователями и администраторами </h2>

<a class="glyphicon glyphicon-user" asp-action="AdminsList" > Список администраторов </a>

<table class="table table-hover table-bordered text-center" id="tblemps">
    <thead>
        <tr>
            <th style="text-align: center;">
                Email
            </th>
            <th style="text-align: center;">
                <a class="btn btn-primary" asp-action="CreateUser">Добавить пользователя</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-default" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="EditUser" asp-route-id="@user.Id"></a>
                        <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                    </form>
                </td>
            </tr>
        }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
@if (Model.PageViewModel.TotalPages > 1)
{
    <br />
    <b>Страница @Model.PageViewModel.PageNumber из @Model.PageViewModel.TotalPages</b>
}