@model IEnumerable<WorshopBase.Models.Owner>
@{
    ViewData["Title"] = "Управление владельцами автомобилей";
}

<h2>Управление владельцами автомобилей</h2>

<table class="table table-hover table-bordered text-center" id="tblemps">
    <thead>
        <tr>
            <th style="text-align: center;">
                Номер водительских прав
            </th>
            <th style="text-align: center;">
                Фамилия
            </th>
            <th style="text-align: center;">
                Адрес
            </th>
            <th style="text-align: center;">
                Телефон
            </th>
            <th style="text-align: center;">
                <a class="btn btn-primary" asp-action="Create">Добавить владельца</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelitem => item.ownerID)
                    <span id="employeename">@item.driverLicense</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fioOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.ownerID" method="post">
                        <a class="btn btn-sm btn-warning" asp-action="Cars" asp-route-id="@item.ownerID">Автомобили</a>
                        <a class="btn btn-sm btn-success glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.ownerID"></a>
                        <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

